body,
html {
    margin: 0px;
}

main {
    display: flex;
    display: wrap;
}

h1 {
    font-family: "DM Sans";
    color: white;
}

#sidebar-content {
    font-family: "Figtree"
}

h2 {
    font-family: "Figtree";
    color: white;
    background-color: #3A2618;
    border: 2px solid #000;
    padding: 20px;
}

.navigation {
    display: none;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.open {
    display: block;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.main-img {
    background-size: cover;
    width: 100%;
}

section {
    border: 2px solid black;
    margin: 10px 5px;
}

body {
    background-color: #EFE7DA;
}

header {
    background-color: #3A2618;
    padding: 10px;
    text-align: center;

}

nav ul {
    list-style-type: none;
}

nav a {
    font-family: "Figtree";
    text-decoration: none;
    color: white;
    display: block;
    text-align: center;
    padding: 1rem;

}

.navigation a:hover {
    color: #EFE7DA;
    font-weight: 700;
    border: 1px solid #9A8873;
    background-color: #9A8873;
    border-radius: 0.6em;
}


nav li {
    margin: 15px;
}

nav {
    background-color: #3A2618;
    padding: 1px;
    max-width: 100%;
}



#menu {
    color: #9A8873;

}

footer {
    text-align: center;
}

p {
    padding-top: 10px;
    font-family: "Figtree";
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    display: inline-block;
    top: 45px;
    right: 10px;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #9A8873;
    -webkit-transition: .4s;
    transition: .4s;

}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #EFE7DA;

}

input:focus+.slider {
    box-shadow: 0 0 1px #EFE7DA;
    ;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;

}

.slider.round:before {
    border-radius: 50%;

}

.dark {
    background-color: black;
    color: white;

}

.img-details {
    background-size: cover;
    width: 95vw;
    height: 60vh;
    display: block;
    margin: 15px auto;
    border: 2px solid black;
    border-radius: 10px;
}

.visit {
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.directory {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    text-align: center;
}

.menubar {
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: lightsteelblue;
    text-align: center;
}

.bussimage {
    width: 50vw;
    height: 25vh;
    margin: 5px auto 0px auto;
    background-size: cover;
}

.menu button {
    padding: 1rem;
    font-weight: 700;
}

section {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    background-color: #eee;
}

.grid {
    display: flex;
    flex-direction: column;
}

.grid section {
    text-align: center;
}

.grid img {
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
}

.grid section>* {
    margin: 0.1rem;
}

.grid h3 {
    font-family: “Caveat”, cursive;
}

.list {
    display: flex;
    flex-direction: column;
}

.list section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;
}

.list section>* {
    margin: 0 1rem;
}

.list section img {
    display: none;
    /* smaller viewports only */
}

.list section h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
    background-color: lightsteelblue;
}

section h3 {
    font-size: 1.5rem;
}

section p {
    font-weight: 600;
    font-size: smaller;
}

section a {
    font-family: “Roboto”, Arial, sans-serif;
    font-size: 0.85rem;
    color: navy;
    letter-spacing: 1.1pt;
}

img {
    height: 75px;
}

.exits {
    margin-right: 10px;
}

.buttonJoin {
    box-shadow: 0 0 10px #333;
    background-color: #3A2618;
    border: 2px solid #000;
    padding: 10px 20px;

}

.buttonJoin a {
    font-family: "Figtree";
    color: white;
}



.grid1 ol li {
    text-align: left;
    margin-left: 25px;
    font-family: "Figtree";
    padding: 10px;

}

section .grid1 {
    padding-bottom: 50px;
}

.grid1 {
    grid-row: 1/2;
}

.grid3 {
    grid-row: 2/2;
}

.grid5 {

    margin-bottom: 123px;

}

.grid6 {
    margin-bottom: 135px;
}

.discover {
    display: flex;
    flex-direction: column;
}