body,
html {
    margin: 0px;
}



h1 {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    padding: 15px;
    margin: 0px;
    align-items: center;
    color: #0A014F;


}

h2 {
    border-bottom: 2px solid #F6CACA;
    color: #0A014F;
}

nav ul {
    list-style-type: none;
}


nav a {
    font-family: "Syne", sans-serif;
    text-decoration: none;
    color: #F6CACA;
    display: block;
    text-align: center;
    padding: 1rem;

}

nav li {
    margin: 15px;
}

nav {
    background-color: #0A014F;
    padding: 1px;
    max-width: 100%;
}

nav a:hover {
    border: 1px solid #F6CACA;
}

ol {
    text-align: left;
}

/* small view navigation */
#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "X";
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #0A014F;
    color: #fff;
}

.navigation a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.navigation a:hover {
    color: #F6CACA;
    font-weight: 700;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
    display: block;
}


main {
    font-family: "Syne", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

footer {
    font-family: "Syne", sans-serif;
    text-align: center;

}

header {
    background-color: #F6CACA;

    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: white;
    color: #0A014F;
}

section {
    margin: 20px;
    border-radius: 0.6em;
}

.card h3 {
    background-color: #F6CACA;
    padding-top: 10px;
    margin: 0;
    padding-bottom: 10px;
}

.card {
    border: 2px solid #0A014F;

}

footer {
    background-color: #0A014F;
    margin: 0px;
    padding: 15px;
}

.kansas {
    width: 10%;
    height: 10%;

}

.flag {
    flex-direction: row;
    justify-content: center;
}

.myself {
    width: 20%;
    height: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.updated,
footer p {
    color: yellow;
}


.border {
    border: 2px solid #0A014F;
    margin: 1.8rem;
    border-radius: 0.6em;
}

.map {
    width: 100%;
    display: block;
    margin: 0px auto;
}


.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0, 0, 0, .1);
    height: 300px;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.herolabel {
    position: absolute;
    top: 30px;
    left: 30px;
    background: radial-gradient(#fff, #4D5B97);
    border: 1px solid rgba(0, 0, 0, .75);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
    /* Buenas */
}

.herolabel p {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "Great Vibes", serif;
}