body,
html {
    margin: 0px;
}



h1 {
    font-family: "Urbanist", sans-serif;
    font-weight: 400;
    font-style: bold black;
    padding: 15px;
    margin: 0px;
    align-items: center;
}

h2 {
    border-bottom: 2px solid black;
}

nav a {
    font-family: "Syne", sans-serif;
    text-decoration: none;
    color: black;

}

nav li {
    margin: 15px;
}

nav ul {
    text-align: center;
    list-style-type: none;
    padding: 15px 0px;
}

nav {
    background-color: rgb(147, 129, 255);
    padding: 1px;
}

ol {
    text-align: left;
}

main {
    font-family: "Syne", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
}

footer {
    font-family: "Syne", sans-serif;
    text-align: center;

}

header {
    background-color: rgb(255, 238, 221);
    display: flex;
    justify-content: center;
}

body {
    background-color: rgb(248, 247, 255);
}

section {
    margin: 10px;
}

.card h3 {
    background-color: rgb(255, 238, 221);
    padding-top: 10px;
    margin: 0;
    padding-bottom: 10px;
}

.card {
    border: 2px solid black;

}

footer {
    background-color: rgb(184, 184, 255);
    margin: 0px;
    padding: 15px;
}

.kansas {
    width: 10%;
    height: 10%;

}

.flag {
    flex-direction: row;
    justify-content: center;
}

.myself {
    width: 20%;
    height: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 50px;
}

.updated {
    color: yellow;
}